# secret key file for yaml
secret.yaml

# compiled output
/dist
/tmp
/out-tsc

# dependencies
/node_modules
package-lock.json

# local env files
.env.local
.env.*.local

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings
yarn-error.log
.node-version
.ruby-version
.python-version

# e2e
/e2e/*.js
/e2e/*.map

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System Files
.DS_Store
Thumbs.db
